{% extends 'student/layout.html' %} {% load static %}

{% block container %}
<!-- Clubs and Organizations -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="page4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Clubs and Organizations </h1>
    </div>
    <div class="container club-container">
        <div class="card" style="width: 32rem;">
            <img class="card-img-top" src="https://silveroakuni.ac.in/upload/images/club/peepal/peepal1.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Peepal Club</h5>
                <p class="card-text">All the students who are inclined towards learning basic fundamentals
                    of Apple technologies. A complete package for those who aspire to become developers and
                    are new to the Apple Macintosh environment.</p>
                <a href="https://silveroakuni.ac.in/upload/Club%20%20brochure/02-Peepal%20Tree%20Club%20leaflet.jpg"
                    class="btn btn-primary">More</a>
            </div>
        </div>

        <div class="card" style="width: 32rem;">
            <img class="card-img-top" src="https://silveroakuni.ac.in/upload/images/club/sandalwood/WHITEOAK.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">White Oak Club</h5>
                <p class="card-text">Those inspired to think and develop their own commands and to
                    manipulate the computer programs.
                    Aspirants who want to be complete software engineers rather than just programmers.
                    Students with basic knowledge of designing and programming fundamentals. </p>
                <a href="https://silveroakuni.ac.in/upload/Club%20%20brochure/03-White%20Oak.jpg"
                    class="btn btn-primary">More</a>
            </div>
        </div>

        <div class="card" style="width: 32rem;">
            <img class="card-img-top" src="https://silveroakuni.ac.in/upload/images/club/black/black1.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Black Cherry</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                <a href="https://silveroakuni.ac.in/upload/Club%20%20brochure/04-Black%20Cherry.jpg"
                    class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 32rem;">
            <img class="card-img-top" src="https://silveroakuni.ac.in/upload/images/club/arjuna/arjun.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Arjuna Club</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 32rem;">
            <img class="card-img-top" src="https://silveroakuni.ac.in/upload/images/club/teak/teak1.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Teak Club</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 32rem;">
            <img class="card-img-top" src="https://silveroakuni.ac.in/upload/images/club/silvermaple/silvermaple1.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Silver Maple Club</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 32rem;">
            <img class="card-img-top" src="https://silveroakuni.ac.in/upload/images/club/peepal/peepal1.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Chestnut Club</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 32rem;">
            <img class="card-img-top" src="https://silveroakuni.ac.in/upload/images/club/neem/neem1.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Neem Tree Club</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 32rem;">
            <img class="card-img-top"
                src="https://silveroakuni.ac.in/upload/images/club/indianrosewood/IndianRosewood1.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Indian Rosewood Club</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 32rem;">
            <img class="card-img-top" src="https://silveroakuni.ac.in/upload/images/club/pincherry/Pincherry1.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pine Cherry Club</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 32rem;">
            <img class="card-img-top" src="https://silveroakuni.ac.in/upload/images/club/sandalwood/WHITEOAK.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sandalwood Club</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 32rem;">
            <img class="card-img-top" src="https://silveroakuni.ac.in/upload/images/club/banyan/banyan1.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Banyan Tree Club</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
</main>
{% endblock %}