{% extends 'student/layout.html' %} {% load static %}

{% block container %}
 <!-- Clubs and Organizations -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="page4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Clubs and Organizations </h1>
                </div>
                <div class="album py-5">
                    <div class="container">

                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://silveroakuni.ac.in/upload/images/club/peepal/peepal1.jpg"
                                        class="card-img-top" alt="...">

                                   
                                    <div class="card-body">
                                        <h5 class="card-title">Peepal Club</h5>
                                        <a target="_blank"
                                            href="https://silveroakuni.ac.in/upload/Club%20%20brochure/02-Peepal%20Tree%20Club%20leaflet.jpg"
                                            class="card-link">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://silveroakuni.ac.in/upload/images/club/sandalwood/WHITEOAK.jpg"
                                        class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="card-title">White Oak Club</h5>
                                        <a href="https://silveroakuni.ac.in/upload/Club%20%20brochure/03-White%20Oak.jpg"
                                            class="card-link">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://silveroakuni.ac.in/upload/images/club/black/black1.jpg"
                                        class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="card-title">Black Cherry</h5>
                                        <a href="https://silveroakuni.ac.in/upload/Club%20%20brochure/04-Black%20Cherry.jpg"
                                            class="card-link">Learn More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://silveroakuni.ac.in/upload/images/club/arjuna/arjun.jpg"
                                        class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="card-title">Arjuna Club</h5>
                                        <a href="#" class="card-link">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://silveroakuni.ac.in/upload/images/club/teak/teak1.png"
                                        class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="card-title">Teak Club</h5>
                                        <a href="#" class="card-link">Learn More</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://silveroakuni.ac.in/upload/images/club/silvermaple/silvermaple1.jpg"
                                        class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="card-title">Silver Maple Club</h5>
                                        <a href="#" class="card-link">Learn More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://silveroakuni.ac.in/upload/images/club/peepal/peepal1.jpg"
                                        class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="card-title">Peepal</h5>

                                        <a href="#" class="card-link">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://silveroakuni.ac.in/upload/images/club/neem/neem1.jpg"
                                        class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="card-title">Neem</h5>

                                        <a href="#" class="card-link">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://silveroakuni.ac.in/upload/images/club/indianrosewood/IndianRosewood1.jpg"
                                        class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="card-title">Indian Rosewoord</h5>
                                        <a href="#" class="card-link">Learn More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://silveroakuni.ac.in/upload/images/club/pincherry/Pincherry1.jpg"
                                        class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="card-title">Pin Cherry</h5>

                                        <a href="#" class="card-link">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://silveroakuni.ac.in/upload/images/club/banyan/banyan1.jpg"
                                        class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="card-title">Banyan</h5>

                                        <a href="#" class="card-link">Banyan</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://silveroakuni.ac.in/upload/images/club/indianrosewood/IndianRosewood1.jpg"
                                        class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <h5 class="card-title">Sandalwood</h5>
                                        <a href="#" class="card-link">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

{% endblock %}