{% extends 'student/layout.html' %} {% load static %} {% block container %}

<!-- Dashboard -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="page0">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Student Performance Dashboard</h1>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This sem
                        </button>
                    </div> -->
  </div>
  <div class="container">
   
    <div class="row mt-3">
      <div class="col-5">
        <div class="card">
          <!-- <div class="card-body"> -->
          <h4 class="text-center card-title mt-1">Attendance</h4>
          <!-- </div> -->
          <div class="card-body">
            <canvas id="attendance"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
