{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Bulma CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Fontawesome5 CDN -->
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<body>
    <section class="hero is-light is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <h1 class="title has-text-centered" style="font-family: serif;">Silver Oak University</h1>
                        <form action="{% url 'student:login' %}" class="box" method="POST">
                            {% csrf_token %}
                            {% if message %}
                            <div class="notification is-danger is-light">
                                <button class="delete"></button>
                                {{ message }}
                            </div>
                            {% endif %}
                            <div class="field">
                                <label for="" class="label">Email</label>
                                <div class="control has-icons-left">
                                    <input name="email" type="email" placeholder="e.g. johndoe@socet.edu.in"
                                        class="input" required autocomplete="off">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input name="password" type="password" placeholder="*********" class="input"
                                        required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    <a href="#" class="help level-right has-text-link">Forgot Password?</a>
                                    <a href="#" class="help level-right has-text-link">Need Help?</a>
                                </div>
                            </div>
                            <div class="field">
                                <!-- <label for="" class="checkbox">
                                <input type="checkbox">
                                Remember me
                            </label> -->
                            </div>
                            <div class="field">
                                <button class="button is-success">
                                    Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'student/login.js' %}" type="text/javascript"></script>
</body>

</html>