{% extends 'student/layout.html' %} {% load static %} {% block container %}
<!-- Exam form -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="page1">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Exam Form </h1>
                </div>
                 <div class="row">
      <div>
        <div class="alert alert-danger" role="alert">
          <strong>Everybody!</strong> fill in this
          <a href="#" class="alert-link">Google Form</a>
          to enroll for Crash Course.
        </div>
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Well done!</h4>
          <p>
            Aww yeah, you successfully read this important alert message. This
            example text is going to run a bit longer so that you can see how
            spacing within an alert works with this kind of content.
          </p>
          <hr />
          <p class="mb-0">
            Whenever you need to, be sure to use margin utilities to keep things
            nice and tidy.
          </p>
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Holy guacamole!</strong> You should check in on some of those
          fields below.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">Lorem Ipsum</h4>
          <p>
            Aww yeah, you successfully read this important alert message. This
            example text is going to run a bit longer so that you can see how
            spacing within an alert works with this kind of content.
          </p>
          <hr />
          <p class="mb-0">
            Whenever you need to, be sure to use margin utilities to keep things
            nice and tidy.
          </p>
        </div>
        <!-- <div class="alert alert-secondary" role="alert">
                                <h4 class="alert-heading">Lorem Ipsum</h4>
                                <p>Aww yeah, you successfully read this important alert message. This example text is
                                    going to run a bit longer so that you can see how spacing within an alert works with
                                    this kind of content.</p>
                                <hr>
                                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things
                                    nice and tidy.</p>
                            </div> -->
      </div>
    </div>
            </main>
{% endblock %}