{% extends 'student/layout.html' %} {% load static %}

{% block container %}
<!-- Placements -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="page5">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Placements </h1>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">HITECH I SOLUTIONS CAMPUS DRIVE CE IT 2021</h5>
                <small>Due Date: 07 Feb 2021</small>
            </div>
            <p class="mb-1">Salary offered : 15K to 18K<br>
                Job Location : Ahmedabad, Gujarat.<br>

            </p>
            <small class="text-muted">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </small><br>
            <button style="float: inline-end;" type="button" class="btn btn-primary btn-sm">Details</button>
        </a>

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">HITECH I SOLUTIONS CAMPUS DRIVE CE IT 2021</h5>
                <small>Due Date: 07 Feb 2021</small>
            </div>
            <p class="mb-1">Salary offered : 15K to 18K<br>
                Job Location : Ahmedabad, Gujarat.<br>

            </p>
            <small class="text-muted">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </small><br>
            <button style="float: inline-end;" type="button" class="btn btn-primary btn-sm">Details</button>
        </a>

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">HITECH I SOLUTIONS CAMPUS DRIVE CE IT 2021</h5>
                <small>Due Date: 07 Feb 2021</small>
            </div>
            <p class="mb-1">Salary offered : 15K to 18K<br>
                Job Location : Ahmedabad, Gujarat.<br>

            </p>
            <small class="text-muted">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </small><br>
            <button style="float: inline-end;" type="button" class="btn btn-primary btn-sm">Details</button>
        </a><br><br>

    </div>

</main>
{% endblock %}