{% extends 'student/layout.html' %} {% load static %}

{% block container %}
<!-- Settings -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="page6">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Student Information</h1>
  </div>
  <div class="card">
    <!-- <div class="card-body"> -->

    <div class="card-body">
      <table class="table table-hover table-bordered">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td>John Doe</td>
          </tr>
          <tr>
            <th scope="row">Enrollment No.</th>
            <td>170770107xyz</td>
          </tr>
          <tr>
            <th scope="row">Course</th>
            <td>BE</td>
          </tr>
          <tr>
            <th scope="row">Branch</th>
            <td>07 - Computer Engineering</td>
          </tr>
          <tr>
            <th scope="row">College</th>
            <td>
              077 - Silver Oak College of Engineering and Technology
            </td>
          </tr>
          <tr>
            <th scope="row">Academic Status</th>
            <td>Studying</td>
          </tr>
          <tr>
            <th scope="row">Current Sem</th>
            <td><span class="badge bg-success">8</span></td>
          </tr>
          <tr>
            <th scope="row">Last Appeared Exam</th>
            <td>BE SEM 7 - Regular (JAN 2021)</td>
          </tr>
          <tr>
            <th scope="row">CPI</th>
            <td>8.5</td>
          </tr>
          <tr>
            <th scope="row">CGPA</th>
            <td>9.2</td>
          </tr>
        </tbody>
      </table>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="inputName" placeholder="name@example.com" value="John Doe" readonly>
        <label for="inputName">Name</label>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    </div>
  </div>
</main>
{% endblock %}