{% extends 'student/layout.html' %} {% load static %}

{% block container %}
<!-- Settings -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="page6">

<div class="card">
          <!-- <div class="card-body"> -->
          <h4 class="text-center card-title mt-1">Academic Info</h4>
          <!-- </div> -->
          <div class="card-body">
            <table class="table table-hover table-bordered">
              <!-- <thead>
                                            <tr>
                                                <th scope="col">Course</th>
                                                <th scope="col">BE</th>
                                            </tr>
                                        </thead> -->
              <tbody>
                <tr>
                  <th scope="row">Name</th>
                  <td>John Doe</td>
                </tr>
                <tr>
                  <th scope="row">Enrollment No.</th>
                  <td>170770107xyz</td>
                </tr>
                <tr>
                  <th scope="row">Course</th>
                  <td>BE</td>
                </tr>
                <tr>
                  <th scope="row">Branch</th>
                  <td>07 - Computer Engineering</td>
                </tr>
                <tr>
                  <th scope="row">College</th>
                  <td>
                    077 - Silver Oak College of Engineering and Technology
                  </td>
                  <!-- <td colspan="2">Larry the Bird</td>
                                                <td>@twitter</td> -->
                </tr>
                <tr>
                  <th scope="row">Academic Status</th>
                  <td>Studying</td>
                </tr>
                <tr>
                  <th scope="row">Current Sem</th>
                  <td><span class="badge bg-success">8</span></td>
                </tr>
                <tr>
                  <th scope="row">Last Appeared Exam</th>
                  <td>BE SEM 7 - Regular (JAN 2021)</td>
                </tr>
                <tr>
                  <th scope="row">CPI</th>
                  <td>8.5</td>
                </tr>
                <tr>
                  <th scope="row">CGPA</th>
                  <td>9.2</td>
                </tr>
              </tbody>
            </table>
          </div>
           <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        </div>
        </div>
                    </main>
{% endblock  %}